{{ package_name }} ({{ version }}) {{ distribution }}; urgency=medium

{% for change in changes %}
  * {{ change }}
{% endfor %}

 -- {{ maintainer_name }} <{{ maintainer_email }}>  {{ date_rfc2822 }}
